<%= form_with(model: message, id: dom_id(message)) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :body, placeholder: 'Body', style: 'width: 100%' %>
  </div>

  <div style='display: flex; justify-content: flex-end; align-items: center; gap: 10px;}'>
    <%= form.submit style: 'width: 22%' %>
    <%= link_to "Cancel", message %>
  </div>
<% end %>
