<%= form_with model: message, id: dom_id(message), target: :_top do |form| %>
  <%= render 'shared/errors', message: message %>

  <div class="field">
    <%= form.text_area :body, placeholder: 'Body', rows: '5', style: 'width: 100%; resize: vertical;' %>
  </div>

  <div style='display: flex; justify-content: flex-end; align-items: center; gap: 10px;}'>
    <%= form.submit set_title(message), style: 'max-width: 12%' %>
    <%= link_to "Cancel", messages_path if !message.new_record? || message.errors.any? %>
  </div>
<% end %>
