<div id="<%= dom_id message %>" class="scaffold_record">
  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>

  <p>
    <%= link_to "Show this message", message %>
    <%= button_to "Edit this message", edit_message_path(message), method: :post %>
    <%= button_to "Destroy this message", message_path(message), method: :delete %>
  </p>
</div>
