<%= turbo_frame_tag dom_id(@message) do %>
  <p id="notice">
    <%= notice %>
  </p>

  <%= render 'form', message: @message %>
  <h1>Messages:
  <span id="message_counter"> <%= Message.count %> </span>
  </h1>
  <%= render @messages rescue Message.all%>
<% end %>
