<%= turbo_stream_from :messages %>

<span class='time-section'>
  <%= Time.zone.now.strftime("%A, %D: %k:%M:%S.%L") %>
</span>

<%= turbo_frame_tag :messages, style: 'margin-top: 1rem;' do %>
  <div id='new_message'>
    <%= render 'messages/form', message: Message.new %>
  </div>
  <%= render 'messages/count_messages' %>
  <%= render @messages %>
<% end %>
