<p id="notice">
  <%= notice %>
</p>

<h1>
  Messages
  <span id="message_counter">
    <%= Message.count %>
  </span>
</h1>

<div id="new_message">
  <%= render partial: "messages/form", locals: { message: Message.new } %>
</div>

<div id="messages">
  <%= render @messages %>
</div>

<%= link_to "New message", new_message_path %>
